[Request]: full RFC-compliant IPv6

### Feature or enhancement request details

As containers are their own VMs, you'd expect they behave as any other RFC-compliant Linux machine, i.e.:
- receive Router Assignments [RFC 4862](https://www.rfc-editor.org/rfc/rfc4862)
- receive RDNSS [RFC 8106](https://www.rfc-editor.org/rfc/rfc8106)
- generate 1 opaque stable SLAAC address [RFC 7217](https://datatracker.ietf.org/doc/rfc7217/)
- generate 1 SLAAC privacy address [RFC 4941](https://datatracker.ietf.org/doc/html/rfc4941)
- generate a link-local address [RFC 4291](https://www.rfc-editor.org/rfc/rfc4291)
- use PREF64 if advertised [RFC 8781](https://www.rfc-editor.org/rfc/rfc8781)
- SLAAC is mandatory, DHCPv6 is optional, so maybe not high priority, but still [RFC8415](https://www.rfc-editor.org/rfc/rfc8415)

Is there a roadmap for this?

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

@certuna thanks for the submission!

Much of the IPv6 stack is out of our purview. I'll make inquiries about RFC conformance with other teams, but could you indicate priorities for each of these, and the reasons/use cases.

With respect to containers' IPv6 interactions with the outside world, that would be more of a question about the host IPv6 implementation, since the containers are on a NAT bridge, and that seems out of scope.

I understand that full RFC compliance would provide confidence in the interoperability of containers using IPv6, but as it stands this issue is too broad and the work to address gaps would need to be broken into actionable pieces.

vmnet does generate router advertisements for the NAT bridge network and I'm looking into soliciting and receiving them to get RDNSS information for apple/container#466.